<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Asif Uddin's Showcase</title>
    </head>
    <body>
        <main>
            <div>
                <form action="/search" method="POST" class="new-search-query">
                    <label id="labelforinput">
                        Provide a search keyword for shows
                        <input type="text" name="searchTerm" 
                            class="full-width-input" />
                    </label>
                    <button id="submit" type="submit">Submit</button>
                </form>
            </div>
            {{{body}}}
        </main>
    </body>
</html>